@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;

}

.container{
        position: relative;
        max-width: 300px;
        height: 410px;
        padding: 10px 20px 20px;
        background: #fff;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0,0,0,0.05);
        border-radius: 5px;

}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

.buttons button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    font-size: 20px;
    cursor: pointer;

}

.buttons button:active{
    transform: scale(0.99);
}

.display{
    padding: 2px;
    border-color: none;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: none;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
}

h3{
    text-align: center;
}
